<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.bajra.testplugin.MyProcess"
         name="com.bajra.testplugin.MyProcess"
         point="org.adempiere.base.Process">
      <process
            class="com.bajra.testplugin.yanglama.MyProcess"
            priority="">
      </process>
   </extension>
   <extension
         id="com.bajra.testplugin.process.GenerateNama"
         name="com.bajra.testplugin.process.GenerateNama"
         point="org.adempiere.base.Process">
      <process
            class="com.bajra.testplugin.process.GenerateNama"
            priority="com.bajra.testplugin.process.GenerateNama">
      </process>
   </extension>
   <extension
         id="com.bajra.testplugin.callout.MyCalloutTest.help"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="com.bajra.testplugin.callout.MyCalloutTest"
            columnName="Help"
            priority="1"
            tableName="M_Product">
      </callout>
   </extension>
   <extension
         id="com.bajra.testplugin.callout.CalloutTest2.start"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="com.bajra.testplugin.callout.CalloutTest2"
            columnName="M_Product_ID"
            tableName="EVE_Main">
      </callout>
   </extension>

</plugin>
