<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.bajra.testplugin.process.GenerateNama"
         name="com.bajra.testplugin.process.GenerateNama"
         point="org.adempiere.base.Process">
      <process
            class="com.bajra.testplugin.process.GenerateNama"
            priority="com.bajra.testplugin.process.GenerateNama">
      </process>
   </extension>
   <extension
         id="com.bajra.testplugin.callout.CalloutDescriptionProduct.help"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="com.bajra.testplugin.callout.CalloutDescriptionProduct"
            columnName="Help"
            priority="1"
            tableName="M_Product">
      </callout>
   </extension>
   <extension
         id="com.bajra.testplugin.callout.CalloutTest2.start"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="com.bajra.testplugin.callout.CalloutMevemain"
            columnName="M_Product_ID"
            tableName="EVE_Main">
      </callout>
   </extension>
   <extension
         id="com.bajra.testplugin.process.SetParameter"
         name="com.bajra.testplugin.process.SetParameter"
         point="org.adempiere.base.Process">
      <process
            class="com.bajra.testplugin.process.SetParameter">
      </process>
  </extension>
   <extension
         id="com.bajra.testplugin.process.SetUpdateEVESub"
         point="org.adempiere.base.Process">
      <process
            class="com.bajra.testplugin.process.SetUpdateEVESub"
            priority="com.bajra.testplugin.process.SetUpdateEVESub">
      </process>
   </extension>
</plugin>
